<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

<main>
     <!-- SERVICES -->
     <section class="service-list" id="services">
          
          <div class="container">
               <div class="row d-flex justify-content-around">
                    <div class="col-12">
                         <h1>We Offer</h1>
                    </div>
                    <div class="col d-flex offers-card">
                         <div class="card" style="width: 18rem;">
                              <img src="../images/fast-secure-payment.jpg" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">Fast and Secure payment</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <div class="btn-alt3" >
                                   <a href="#" class="btn">Read More...</a>
                                </div>
                              </div>
                         </div>
                    </div>
                    <div class="col d-flex offers-card">
                         <div class="card" style="width: 18rem;">
                              <img src="../images/special-prices.jpg" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">Special Prices</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <div class="btn-alt3" >
                                   <a href="#" class="btn">Read More...</a>
                                </div>
                              </div>
                         </div>
                    </div>
                    <div class="col d-flex offers-card">
                         <div class="card" style="width: 18rem;">
                              <img src="../images/quality-service.jpg" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">Quality Service</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <div class="btn-alt3" >
                                   <a href="#" class="btn">Read More...</a>
                                </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </section>
     
     <!-- ABOUT US -->

     <section class="about-list" id="about">
          <div class="container">
               <div class="row">
                    <div class="col-md-12 d-flex justify-content-center mb-5 section-title">
                         <h1>About Us</h1>
                    </div>
                    <div class="col-md-5 col-sm-12 pb-5 pr-5 pl-5">
                         
                         <div class="about__img d-flex flex-row justify-content-end pr-5">
                              <div class="figure__one"></div>
                         </div>
                         
                         <div class="about__img d-flex flex-row">
                              <div class="figure__three"></div>
                         </div>

                         <div class="about__img d-flex flex-row justify-content-center pt-4">
                              <div class="figure__two"></div>
                         </div>
                         
                         
                    </div>

                    <div class="col"></div>

                    <div class="col-md-5 col-sm-12 pr-5 pl-5">
                         <div class="section-title__about">
                              <h2>We are a Car Rental Company</h2>
                         </div>
                         <div class="section-desc__about">
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo doloremque numquam, tenetur nisi fugiat delectus molestiae, sint natus, maxime alias itaque. Dolorum quidem tempore adipisci consequuntur illo, soluta veritatis magnam. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae eius, quas velit itaque soluta, obcaecati laborum hic quis sint commodi reiciendis ullam corporis vel non ducimus, corrupti est quaerat quasi.</p>
                         </div>
                         <div class="sub-header">
                                <h3>As professionals in the automobile industry we know what our clients want</h3>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae nobis aliquam enim optio obcaecati vel pariatur, cumque dolorem laboriosam? Dolorem corporis culpa accusamus asperiores laudantium totam recusandae, id deleniti odit!<p>
                         </div>
                    </div>
               </div>
          </div>

          <div class="custom-shape-divider-bottom-1619035924">
               <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                   <path d="M649.97 0L550.03 0 599.91 54.12 649.97 0z" class="shape-fill"></path>
               </svg>
           </div>

     </section>

     <!-- CONTACT -->

     <section class="contact-list" id="contact">
          <div class="container">
               <div class="row">
                    <div class="col-md-6 col-sm-12">
                         <form id="contact-form" role="form" action="" method="post">
                              <div class="section-title">
                                   <h2>Get In Touch With Us</h2>
                              </div>
                              <div class="col-md-12 col-sm-12">
                                   <input type="text" class="form-control" placeholder="Enter full name" name="name" required>
                    
                                   <input type="email" class="form-control" placeholder="Enter email address" name="email" required>

                                   <textarea class="form-control" rows="6" placeholder="Tell us about your message" name="message" required></textarea>
                              </div>

                              <div class="col-md-4 col-sm-12 btn-blue">
                                   <input type="submit" class="btn" name="send message" value="Send Message">
                              </div>

                         </form>
                    </div>
                    <div class="col-md-6 col-sm-12 d-flex justify-content-center">
                         <span class="contact__image mt-4"></span>
                    </div>
               </div>
          </div>
     </section>     
     </main>  
</body>