<footer id="footer">
    <div class="footer__wrapper">
        <div class="row pb-5 mb-5">

            <div class="col-sm-6 col-md-4 pl-3">
                <h2>UNSTOPPABLE</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, placeat porro illo maiores reiciendis, perferendis earum, aspernatur adipisci quam cupiditate eaque neque enim voluptatum quia recusandae assumenda eum sequi. Odio?</p>
            </div>

            <div class="col-sm-6 col-md-2 pl-3">
                <h3 class="footer__title">Visit</h3>
                <p>Nasipit Talamban Cebu City 34 Tesla, Site 100 Unstoppable Car Rentals</p>

                <h3 class="footer__title">Contacts</h3>
                <p>johndoe@gmail.com<br>999123456789</p>

            </div>

            <div class="col-sm-6 col-md-2 pl-3">
                <h3 class="footer__title">Explore</h3>
                    <span class="d-sm-flex">
                    <a href="/welcome">Home</a>
                </span>
                <span class="d-sm-flex">
                    <a href="#">About Us</a>
                </span>
                <span class="d-sm-flex">
                    <a href="#">Offers</a>
                </span>
                <span class="d-sm-flex">
                    <a href="#">Contacts</a>
                </span>
            </div>

            

            <div class="col-sm-6 col-md-2 pl-3">
                <h3 class="footer__title d-flex">Follow</h3>
                <span class="d-sm-flex">
                    <a href="#">Instagram</a>
                </span>
                <span class="d-sm-flex">
                    <a href="#">Twitter</a>
                </span>
                <span class="d-sm-flex">
                    <a href="#">Facebook</a>
                </span>
            </div>

            <div class="col-sm-6 col-md-2 pl-3">
                <h3 class="footer__title">Legal</h3>
                <span class="d-sm-flex">
                    <a href="#">Terms</a>
                </span>
                <span class="d-sm-flex">
                    <a href="#">Privacy</a>
                </span>
            </div>
        </div>

        <p class="text-muted">© Copyright 2021, Unstoppable Car Rentals</p>
    </div>
</footer>