<div class="form-container">
  <div class="title">Find a car</div>
  <div class="content">
    <form action="#">
      <div class="user-details">
        <div class="input-box">
          <span class="details">Price Range (Minimum)</span>
          <input type="number" id="valueRangeMin" value="0">
        </div>
        <div class="input-box">
          <span class="details">Price Range (Maximum)</span>
          <input type="number" id="valueRangeMax" value="0">
        </div>

      </div>
      <div class="car-details">
        <input type="radio"  id="dot-1">
        <input type="radio"  id="dot-2">
        <input type="radio"  id="dot-3">
        <span class="car-title">Car Type</span>
        <div class="category">
          <label for="dot-1">
          <span class="dot one"></span>
          <span class="car-seating">Sedan</span>
        </label>
        <label for="dot-2">
          <span class="dot two"></span>
          <span class="car-seating">SUV</span>
        </label>
        <label for="dot-3">
          <span class="dot three"></span>
          <span class="car-seating">Van</span>
        </label>
        </div>
      </div>
      <div class="button">
        <input type="submit" value="Search">
      </div>
    </form>
  </div>
</div>