<nav class="navbar navbar-expand-lg navbar-light" id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/images/logo.png" style="width: 100px;"alt="">
    </a>
    <div class="navbar justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item dropdown d-flex align-items-center justify-content-between">

          <a href="#">
            <i class="bi bi-bell-fill" style="font-size: 18px; padding: 0 20px; color: rgba(0, 0, 0, 0.7);"></i>
          </a>

          <a class="nav-link d-flex" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="test">
            <i class="bi bi-person-circle" style="font-size: 30px; text-align: center; color: rgba(0, 0, 0, 0.7);;"></i>  
            <div class="dropdown-toggle" style="margin: 0; padding: 25px 0 0 0; color: rgba(0, 0, 0, 0.7);"></div>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/profile">Account Info</a></li>
            <li><a class="dropdown-item" href="#">Modify Reservation</a></li>
            <li><a class="dropdown-item" href="#">Recent Searches</a></li>
            <li><a class="dropdown-item" href="#">Contact Us</a></li>
            <li><a class="dropdown-item" href="#">About Us</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
          </ul>
          
        <li>
          <!-- Insert Bell notif here -->
        </li>
      </ul>
    </div>
  </div>
</nav>