<div class="cards" id="catalog">
    <div class="card">
      <img class="card__image" src="images/product-1-720x480.jpg" alt="">
      <div class="courses-detail">
        <h3>Large: Premium</h3>
        <p class="lead"><small>from</small> <strong>P1500</strong> <small>per day</small></p>
        <p><b>Transmission: Manual<br>
               Mileage:20,000km <br>
        </b>
      </p>

      </div>
      <div class="courses-info">
        <button type="button" id="rentbtn" data-toggle="modal" data-target=".bs-example-modal" class="section-btn btn btn-primary btn-block"><span>Book Now</span></button>
   </div>
    </div>
    <div class="card">
        <img class="card__image" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.pituFmeQCIq_FYZZuwiA_gHaE8%26pid%3DApi&f=1" alt="">
        <div class="courses-detail">
          <h3>Large: Premium</h3>
          <p class="lead"><small>from</small> <strong>P1500</strong> <small>per day</small></p>
          <p><b>Transmission: Manual<br>
                 Mileage:20,000km <br>
          </b>
        </p>
  
        </div>
        <div class="courses-info">
          <button type="button" id="rentbtn" data-toggle="modal" data-target=".bs-example-modal" class="section-btn btn btn-primary btn-block"><span>Book Now</span></button>
     </div>
      </div>
      <div class="card">
        <img class="card__image" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.HJp0Z0q3HYejIgGw6FiS0QHaE8%26pid%3DApi&f=1" alt="">
        <div class="courses-detail">
          <h3>Large: Premium</h3>
          <p class="lead"><small>from</small> <strong>P1500</strong> <small>per day</small></p>
          <p><b>Transmission: Manual<br>
                 Mileage:20,000km <br>
          </b>
        </p>
  
        </div>
        <div class="courses-info">
          <button type="button" id="rentbtn" data-toggle="modal" data-target=".bs-example-modal" class="section-btn btn btn-primary btn-block"><span>Book Now</span></button>
     </div>
      </div>
      <div class="card">
        <img class="card__image" src="images/product-3-720x480.jpg" alt="">
        <div class="courses-detail">
          <h3>Large: Premium</h3>
          <p class="lead"><small>from</small> <strong>P1500</strong> <small>per day</small></p>
          <p><b>Transmission: Manual<br>
                 Mileage:20,000km <br>
          </b>
        </p>
  
        </div>
        <div class="courses-info">
          <button type="button" id="rentbtn" data-toggle="modal" data-target=".bs-example-modal" class="section-btn btn btn-primary btn-block"><span>Book Now</span></button>
     </div>
      </div>
      <div class="card">
        <img class="card__image" src="images/product-4-720x480.jpg" alt="">
        <div class="courses-detail">
          <h3>Large: Premium</h3>
          <p class="lead"><small>from</small> <strong>P1500</strong> <small>per day</small></p>
          <p><b>Transmission: Manual<br>
                 Mileage:20,000km <br>
          </b>
        </p>
  
        </div>
        <div class="courses-info">
          <button type="button" id="rentbtn" data-toggle="modal" data-target=".bs-example-modal" class="section-btn btn btn-primary btn-block"><span>Book Now</span></button>
     </div>
      </div>
      <div class="card">
        <img class="card__image" src="images/product-5-720x480.jpg" alt="">
        <div class="courses-detail">
          <h3>Large: Premium</h3>
          <p class="lead"><small>from</small> <strong>P1500</strong> <small>per day</small></p>
          <p><b>Transmission: Manual<br>
                 Mileage:20,000km <br>
          </b>
        </p>
  
        </div>
        <div class="courses-info">
          <button type="button" id="rentbtn" data-toggle="modal" data-target=".bs-example-modal" class="section-btn btn btn-primary btn-block"><span>Book Now</span></button>
     </div>
      </div>
      <div class="card">
        <img class="card__image" src="images/product-6-720x480.jpg" alt="">
        <div class="courses-detail">
          <h3>Large: Premium</h3>
          <p class="lead"><small>from</small> <strong>P1500</strong> <small>per day</small></p>
          <p><b>Transmission: Manual<br>
                 Mileage:20,000km <br>
          </b>
        </p>
  
        </div>
        <div class="courses-info">
          <button type="button" id="rentbtn" data-toggle="modal" data-target=".bs-example-modal" class="section-btn btn btn-primary btn-block"><span>Book Now</span></button>
     </div>
      </div>

  </div>
  <div class="modal fade bs-example-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
         <div class="modal-content">
              <div class="modal-header">
               <h4 class="modal-title" id="gridSystemModalLabel">Book Now</h4>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              
              <div class="modal-body">
                   <form action="#" id="contact-form">
                        <div class="row">
                             <div class="col-md-6">
                                  <input type="text" class="form-control" placeholder="Pick-up location" required>
                             </div>

                             <div class="col-md-6">
                                  <input type="text" class="form-control" placeholder="Return location" required>
                             </div>
                        </div>

                        <div class="row">
                             <div class="col-md-6">
                                  <input type="date" class="form-control" placeholder="Pick-up date/time" required>
                             </div>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter full name" required>

                        <div class="row">
                             <div class="col-md-6">
                                  <input type="text" class="form-control" placeholder="Enter email address" required>
                             </div>

                             <div class="col-md-6">
                                  <input type="text" class="form-control" placeholder="Enter phone" required>
                             </div>
                        </div>
                   </form>
              </div>

              <div class="modal-footer">
                   <button type="button" id="rentbtn" class="section-btn btn btn-primary"><span>Book Now</span></button>
              </div>
         </div>
    </div>
</div>