
body {
    background: -webkit-linear-gradient(left, #ff1e00, #ffb766);
}
.red {
    border: 1px solid red;
}

.green {
    border: 1px solid green;
}

.login-left {   
    background-image: url("../images/car_index.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.05); */
    opacity: 0.9;
    height: 500px;
    border-radius: 5px;
}
.register-left {   
    background-image: url("../images/car_index.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.05); */
    opacity: 0.9;
    height: 500px;
    border-radius: 5px;
}
.no-account{
    border: 0.5px solid black;
    
    padding: 25px;
}
.no-account span {
   text-align: center;
   margin-left: 15px;
}