@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

p,
label,
input {
  letter-spacing: 1px;
  font-size: 14px;
}

/****************************
BUTTON STYLES GLOBAL
*****************************/

.btn-alt2 {
  width: 100%;
  padding: 10px 10px;
}

.btn-alt2-smol a,
.btn-alt2-smol input,
.btn-alt2-smol button {
  border: solid 1px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.btn-alt2-smol a.active,
.btn-alt2-smol input.active,
.btn-alt2-smol button.active {
  background-color: #5d6c89;
  color: #fbf6f3;
}

.btn-alt2-smol a.active:hover,
.btn-alt2-smol input.active:hover,
.btn-alt2-smol button.active:hover {
  color: #fbf6f3;
}

.btn-alt2-smol a:hover,
.btn-alt2-smol input:hover,
.btn-alt2-smol button:hover {
  opacity: 0.6;
}

.btn-alt3 a,
.btn-alt3 input,
.btn-alt3 button {
  border: solid 2px #5d6c89;
  transition: all 0.3s ease-in-out;
}

.btn-alt3 a:hover,
.btn-alt3 input:hover,
.btn-alt3 button:hover {
  background-color: #5d6c89;
  color: #fbf6f3;
}

.btn-alt2 a.active {
  background-color: #5d6c89;
  color: #fbf6f3;
}

.btn-smol input,
.btn-smol button,
.btn-smol a {
  background-color: #5d6c89;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  color: #fbf6f3;
  font-size: 14px;
  padding: 2px 15px;
  transition: all 0.3s ease-in-out;
}

.btn-smol input:hover,
.btn-smol button:hover,
.btn-smol a:hover {
  color: #fbf6f3;
  transform: scale(1.1);
}

.btn-blue a,
.btn-blue input,
.btn-blue button,
.btn-alt input,
.btn-alt button,
.btn-alt a {
  background-color: #5d6c89;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 15px;
  border-radius: 8px;
  color: #fbf6f3;
  transition: all 0.3s ease-in-out;
}

.btn-alt2 a,
.btn-alt2 input,
.btn-alt2 button {
  width: 100%;
  margin-top: 30px;
  font-weight: bold;
  border: solid 1px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.btn-alt input,
.btn-alt button,
.btn-alt a {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 3px 15px;
  border-radius: 5px;
  font-size: 15px;
}

.btn-alt input:hover,
.btn-alt button:hover,
.btn-alt a:hover,
.btn-blue a:hover,
.btn-blue input:hover,
.btn-blue button:hover {
  opacity: 0.6;
  color: #fbf6f3;
}

.btn-alt2 a.active:hover {
  color: #fbf6f3;
}

.btn-alt2 a:hover,
.btn-alt2 input:hover,
.btn-alt2 button:hover {
  opacity: 0.6;
}

/****************************
NAV BAR && BODY GLOBAL STYLE
*****************************/

.navbar {
  padding: 8px 45px 8px 90px;
}

.nav-style-two #navbar {
  background-color: #fbf6f3;
}

.body-wrap {
  background-color: #ebebeb;
}

/****************************
NAV BAR STYLES LANDING PAGE
*****************************/

.landing-nav .nav-item a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 15px;
  letter-spacing: 2px;
  margin: 0 10px;
  color: rgba(251, 246, 243, 0.5) !important;
  transition: all 0.3s ease-in-out;
}

.landing-nav .nav-item.active a {
  color: #fbf6f3 !important;
}

.landing-nav .nav-item a:hover {
  color: #fbf6f3 !important;
}

/****************************
HEADER STYLES LANDING PAGE
*****************************/

.header__section {
  position: relative;
  background-image: url("../images/header-bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.hero__content {
  padding: 50px 30px;
}

.hero__content h2 {
  font-size: 60px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #fbf6f3;
  padding: 0;
  margin: 0;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

.hero__content p {
  font-size: 15px;
  text-align: justify;
  color: #fbf6f3;
  margin: 15px 10px 30px 10px;
}

.hero__content a {
  padding: 10px 30px;
}

/* HEADER DIVIDER STYLES */

.header__section .custom-shape-divider-bottom-1619036141 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.header__section .custom-shape-divider-bottom-1619036141 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 95px;
  transform: rotateY(180deg);
}

.header__section .custom-shape-divider-bottom-1619036141 .shape-fill {
  fill: white;
}

.custom-shape-divider-bottom-1619036141 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1619036141 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 95px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1619036141 .shape-fill {
  fill: #ebebeb;
}
/* END */

/**************************
SERVICES SECTION LANDING PAGE
***************************/

.offers-card .card {
  border: none;
}

.service-list h1 {
  text-align: start;
  color: #5d6c89;
  font-weight: bold;
  padding: 50px 0 0 0;
}

.service-list {
  text-align: center;
  margin: 80px 0 150px 0;
}

.offers-card p {
  font-size: 14px;
  line-height: 1.125rem;
  padding: 0;
}
.offers-card h5 {
  color: #5d6c89 !important;
}

.offers-card img {
  transition: all 0.3s ease-in-out;
}

.offers-card img:hover {
  transform: scale(1.1);
}

/**************************
ABOUT SECTION LANDING PAGE
***************************/
.about-list {
  background-color: rgb(93, 108, 137);
  padding: 50px 0;
  position: relative;
  height: 100vh;
}

.about-list h1,
.about-list h2,
.about-list h3,
.about-list h4,
.about-list h5,
.about-list p {
  color: white;
  text-align: justify;
}

.about-list h1 {
  text-align: center;
  font-weight: bold;
}

.about-list h2 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.about-list p {
  font-size: 14px;
  padding: 10px 0;
}

.sub-header h3 {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
.about__img {
  height: 100px;
}

.figure__one {
  background-image: url("../images/figure1.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
}

.figure__two {
  background-image: url("../images/figure2.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
}
.figure__three {
  background-image: url("../images/figure3.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
}

/* DIVIDER */

.custom-shape-divider-bottom-1619035924 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1619035924 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom-1619035924 .shape-fill {
  fill: white;
}

/**************************
CONTACT SECTION LANDING PAGE
***************************/
.contact-list {
  padding: 150px 0;
}

.section-title {
  padding-bottom: 20px;
}

.contact-list form {
  padding: 1rem 0;
}

.contact-list .col-md-12,
.contact-list .col-md-4 {
  padding-left: 0;
}

.contact-list .form-control {
  border: 0;
  border-radius: 5px;
  box-shadow: none;
  margin: 10px 0;
  background-color: #ebebeb;
}

.contact-list input {
  height: 50px;
}

.contact__image {
  background-image: url("../images/contact__image.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: contain;
}

/**************************
HOMEPAGE HEADER STYLES
***************************/

.header-style-two {
  position: relative;
  background-image: url("/images/header-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.hero-section h5 {
  font-size: 1.25rem;
  font-weight: 550;
  color: rgba(0, 0, 0, 0.6);
}

.hero__ {
  margin-top: 1.875rem;
}

/**************************
HOMEPAGE SEARCH FILTER STYLE
***************************/
.filter_wrapper {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1.25rem 2.5rem;
  margin-top: 0.625rem;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.filter_container {
  width: 60%;
  margin: auto;
  margin-top: 80px;
}

.search-filter-wrap {
  width: 50%;
  margin: auto;
  margin-top: 0.9375rem;
}

.search-filter-wrap input {
  margin: auto;
  width: 100%;
}

.search-filter-wrap input {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
/**************************
HOMEPAGE OFFERS STYLE
***************************/

.homepage-content {
  margin: 0 0 150px 0;
}

.homepage-deals {
  padding: 70px 80px 30px 80px;
}

.deals-link a {
  text-decoration: none;
  color: #5d6c89;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

.deal-button {
  position: absolute;
  top: 10.75rem;
  left: 1rem;
  transition: all 0.3s ease-in-out;
}

.deal-button button {
  text-transform: uppercase;
  font-weight: bold;
}

.homepage-deals .card {
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.homepage-deals .card {
  border: none;
}
.homepage-deals ul {
  list-style: none;
}
.homepage-deals li {
  display: inline;
}
.homepage-deals li .bi-star-fill {
  color: #ffdf00;
}

.deal-stars ul {
  margin: 0;
  padding: 0;
}

.deals-title {
  width: 94%;
  background-color: white;
  margin: auto;
  margin-bottom: 30px;
  padding: 15px 10px;
}
.deals-title .bi {
  padding: 0 20px;
  color: #5d6c89;
  margin: auto;
}

.deals-title h5 {
  font-weight: bold;
  padding: 20px 30px;
  text-align: start !important;
  margin: auto;
  padding: 0;
}

.homepage-content .card {
  margin: auto;
  margin-bottom: 15px;
}

.homepage-content .card-body h5 {
  color: #5d6c89;
  font-size: 15px;
  font-weight: bolder;
}

.homepage-content .card-img-top {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  height: auto;
  box-sizing: border-box;
}

.homepage-content h1 {
  text-align: center;
}

/* FILLERS */

.homepage-filler {
  padding: 0 0 70px 0;
}

.homepage-filler p,
.homepage-filler h5 {
  padding: 0;
  margin: 0;
}
.homepage-filler p {
  font-size: 15px;
}
.homepage-filler h5 {
  font-weight: bolder;
  color: #5d6c89;
}

/**************************
FILTERED SEARCH STYLES
***************************/

.filter-content {
  margin: 100px 0 200px 0;

  background-color: #fbf6f3;
  min-height: 50vh;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.filter-content hr {
  margin: 0;
  padding: 0;
}

.vertical-hr {
  width: 1px !important;
  margin: 0 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
}
.filter-title,
.filter-buttons {
  display: inline-block;
  margin: 2vw;
  margin: auto 0;
  padding: 20px;
}

.filter-buttons {
  margin: auto 0;
}

.filter-box {
  margin: 0;
  padding: 0px 0;
}

.filter-box h5 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.filter-buttons .bi {
  transition: all 0.3s ease-in-out;
  font-size: 17px;
}

.filter-buttons .bi.active {
  color: #36d6e7;
}

.filter-buttons .bi:hover {
  color: #36d6e7;
  opacity: 0.7;
}

.car-img img {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 30px;
}

.car-info h5 {
  font-size: 18px;
  font-weight: 550;
  color: #5d6c89;
}

.price-perday {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 15px;
  font-weight: 600;
}
.price-perday p {
  margin: 0;
  padding: 0;
}

.hide-hr {
  display: none;
}

/**************************
VIEW CAR DETAILS STYLES
***************************/

.gallery_img img {
  background-size: contain;
  min-height: 328.5px;
  height: 65vh;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  padding: 0;
  transition: 0.3s ease-in-out;
}

.side_bar_gallery img {
  background-repeat: no-repeat;
  background-size: contain;
  height: 15vh;
  margin: 0 0 30px 0;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.gallery_img img:hover,
.side_bar_gallery img:hover {
  opacity: 0.7;
}

.side_bar_img,
.gallery_img {
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.detail_row h5 {
  text-transform: uppercase;
  font-size: 0.9375rem;
  font-weight: bold;
  color: #3b3b3b;
}

.detail_row ul {
  margin: 0;
  padding: 0;
}

.detail_row ul li {
  list-style: none;
  display: inline;
  padding: 10px;
}

.detail_row label {
  font-size: 15px;
  color: #3b3b3b;
}

#prev {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: 3px solid rgba(0, 0, 0, 0.2);
}

/**************************
RESERVATION STYLES
***************************/

.reserve_wrapper {
  margin: 80px 0 0 0;
  padding: 0;
}

.form-list {
  position: relative;
  overflow: hidden;
  padding: 10px 15px;
  height: 90vh;
}

.form-class {
  position: absolute;
  padding: 0 20px;
  left: 0;
  transition: all 0.4s ease-in-out !important;
}

#step2-form {
  left: 300rem;
}

.form-column input,
.form-column option,
.form-column select {
  padding: 10px 5px;
}

.form-column input:hover,
.form-column option:hover,
.form-column select:hover {
  cursor: pointer;
}

.step-row {
  width: 550px;
  height: 60px;
  margin: 0 0 70px 0;
  display: flex;
  position: relative;
}

.step-col {
  height: 50px;
  width: 50px;
  font-weight: bolder;
  background-color: #bbb;
  border-radius: 50%;
  text-align: center;
  padding: 12px 0;
  margin: auto;
  color: #fbf6f3;
}

.steps p {
  font-size: 12px;
  font-weight: bold;
  width: 50%;
  margin: auto;
}

.active_step .step {
  background-color: #5d6c89;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.reserve_row label {
  width: 100%;
}

.price_col {
  padding: 40px;
}

.rate_wrap {
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  min-height: 25vh;
}

.rate_wrap p {
  font-size: 15px;
  font-weight: bold;
  padding: 0 25px;
  margin: 0;
}

.rate_wrap h4 {
  text-align: center;
  padding: 10px 0;
}

.rate_wrap small {
  font-size: 12px;
}

thead th {
  font-size: 15px;
}
th {
  font-weight: bold;
}
tbody th {
  text-transform: uppercase;
}
table button,
table .btn-group {
  width: 100%;
}

.hide-step {
  display: none;
}

/**************************
MODAL STYLES
***************************/

.hide {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

/* IMAGE MODAL */
.modal-content {
  margin: auto;
  display: block;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #fbf6f3;
  padding: 10px 0;
  height: 150px;
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fbf6f3;
  font-size: 40px;
  font-weight: bold;
  transition: 0.1s ease-in-out;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/**************************
PROFILE PAGE STYLES
***************************/

.tab_container {
  padding: 100px 100px;
}

.button_container button {
  margin: 10px 0;
}

.tab_panel {
  background-color: #fbf6f3;
  padding: 30px 0 30px 30px;
  border-radius: 10px;
}

.profile_img-section img {
  width: 100%;
  height: 170px;
}

.user-info label {
  font-weight: bold;
  font-size: 15px;
  color: #5d6c89;
}

.user_data .text-muted {
  padding: 0 5px;
}

#edit_btn i {
  font-size: 30px;
  color: #5d6c89;
}

#edit_btn button {
  transition: all 0.3s ease-in-out;
}

#edit_btn button:hover {
  transform: scale(1.05);
}

/**************************
FOOTER STYLE
***************************/

.rs-body-log,
.rs-body-reg {
  position: relative;
  background-image: url("../images/header-bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.rs-body-log {
  height: 80vh;
}
.rs-body-reg {
  height: 123vh;
}

.log-wrap,
.reg-wrap {
  border-radius: 30px;
  padding: 0;
  background-color: white;
}

.log-wrap {
  margin: 8.5rem auto !important;
}

.reg-wrap {
  margin: 3.5rem auto !important;
}

.reg-wrap {
  width: 60rem !important;
}

.log-wrap {
  width: 50rem !important;
}

.reg-form-img {
  position: relative;
  background-image: url("../images/login-side-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 70vh;
}

.log-form-img {
  position: relative;
  background-color: white;
  background-image: url("../images/login-side-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 45vh;
}

.rs-form {
  padding: 30px 50px !important;
  background-color: #ebebeb;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.rs-form label {
  font-weight: bold;
  color: #5d6c89;
}

.rs-form i {
  color: #5d6c89;
  font-size: 15px;
}

.rs-form input {
  padding: 8px 10px;
}

.rs-form input {
  margin: 5px 0 20px 0;
}

.rs-form a {
  text-decoration: none;
  color: #5d6c89;
  transition: all 0.3s ease-in-out;
}
.rs-form a:hover {
  opacity: 0.5;
}

/**************************
FOOTER STYLE
***************************/
footer {
  background: #1f1f1f;
  padding: 45px 25px 35px 25px;
}

footer h2,
.footer__title {
  color: #ffffff;
}

footer h2 {
  font-size: 2.1875rem;
  font-weight: 600;
}

footer .col-md-2 {
  padding: 0.625rem;
}

.footer__title {
  font-size: 1rem;
  padding-bottom: 0.625rem;
}

footer a,
footer p {
  text-decoration: none;
  font-size: 0.75rem;
  color: #909090;
  transition: all 0.3s ease-in-out;
}
footer a:hover {
  color: white;
  text-decoration: none;
}
