<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="wrapper">

<header>
    <%- include('../partials/header'); %>
</header>

<div class="wrapper">

    <main>
        <%- include('../partials/body'); %>
    </main>
    
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    
</div>

</body>
</html>