<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>Register Page</title>
</head>
<body class="rs-body-reg">

    <div class="reg-wrap zoom-load">
        
        <div class="row align-items-center reg-wrap">
            <div class="col-md-5">
                <div class="reg-form-img"></div>
            </div>
            <div class="col-md-7 rs-form">
                <div>
                    <% if(errors != "") { %>
                        <% errors.forEach((item) => { %>
                            <div class="alert alert-danger">
                                <%- item %>
                            </div>
                        <% }); %>
                    <% } %>
                </div>
                <form method="POST" action="/register">
                    <div class="form-group">
                        <label for="fullName">Full name:</label>
                        <input type="text" class="form-control" name="fullName" id="fullName" placeholder="Full name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email address: (*)</label>
                        <input type="email" name="email" class="form-control" id="email" placeholder="Enter email" required>
                    </div>
                    <div class="form-group">
                        <label for="example-datetime-local-input">Birth Date (*)</label>
                        <input class="form-control" name="birthdate" type="date"  id="birthdate" required>
                    </div>
                    <div class="form-group">
                        <label for="address">Address (*)</label>
                        <input class="form-control" name="address"   id="address" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password: (*)</label>
                        <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="passwordConfirmation">Confirm password: (*)</label>
                        <input type="password" class="form-control" name="passwordConfirmation" id="passwordConfirmation" placeholder="Password Confirmation" required>
                    </div>
                    <div>
                        <span>By signing up, you agree to our <b>Terms , Data Policy and <center>Cookies Policy.</b></center></span>
                    </div>
                    <div class="btn-blue">
                        <button type="submit" class="btn">Register</button>
                    </div>
                </form>

                <hr>
                
                <div>
                    If you already have had an account. <a href="/login">Log in</a>.
                </div>

            </div>
        </div>
    </div>

    <%- include('../partials/footer'); %>    

</body>
</html>
