<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/homepage.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <title>Result</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">LOGO</a>
      <div class="navbar justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Hi!, User
              <!-- Add dynamic user here -->
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/profile">Account Info</a></li>
              <li><a class="dropdown-item" href="#">Modify Reservation</a></li>
              <li><a class="dropdown-item" href="#">Recent Searches</a></li>
              <li><a class="dropdown-item" href="#">Contact Us</a></li>
              <li><a class="dropdown-item" href="#">About Us</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
          </li>
          <li>
            <!-- Insert Bell notif here -->
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="content container mt-5" id="filter_content">
    <div class="main_content">
      <!-- SORT BY -->
      <div class="d-flex sort_toggle mb-3">
        <h3>Sort by</h3>
        <div class="d-flex align-items-center toggle_btn">
          <div class="form-check form-check-inline">
            <input class="form-check-input sort_rate_btn" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
            <label class="form-check-label" for="inlineRadio1">Most Popular</label>
          </div>
          <div class="align-items-center form-check form-check-inline">
            <input class="form-check-input sort_price_btn" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">Price</label>
          </div>
          <div class="" id="arrow"></div>
        </div>
      </div>
      <!-- CARS -->
      <section class="row list">
        <%= car[0].type %>
        <img src="<%= car[0].image %>" alt=""> 
        <a href="/view_car/<%= car[0].id %>">View</a>
        <a href="/booking/<%= car[0].id %>">Reserve</a>
      </section>
    </div>
  </div>

  <footer id="footer">
    <div class="footer__wrapper">
        <div class="row pb-5 mb-5">
            <div class="col-sm-6 col-md-4 pl-3">
                <h2>UNSTOPPABLE</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, placeat porro illo maiores reiciendis, perferendis earum, aspernatur adipisci quam cupiditate eaque neque enim voluptatum quia recusandae assumenda eum sequi. Odio?</p>
            </div>
            <div class="col-sm-6 col-md-2 pl-3">
                <h3 class="footer__title">Visit</h3>
                <p>Nasipit Talamban Cebu City 34 Tesla, Site 100 Unstoppable Car Rentals</p>

                <h3 class="footer__title">Contacts</h3>
                <p>johndoe@gmail.com<br>999123456789</p>

            </div>
            <div class="col-sm-6 col-md-2 pl-3">
                <h3 class="footer__title">Explore</h3>
                    <span class="d-sm-flex">
                    <a href="#">Home</a>
                </span>
                <span class="d-sm-flex">
                    <a href="#">About Us</a>
                </span>
                <span class="d-sm-flex">
                    <a href="#">Offers</a>
                </span>
                <span class="d-sm-flex">
                    <a href="#">Contacts</a>
                </span>
            </div>
            <div class="col-sm-6 col-md-2 pl-3">
                <h3 class="footer__title d-flex">Follow</h3>
                <span class="d-sm-flex">
                    <a href="#">Instagram</a>
                </span>
                <span class="d-sm-flex">
                    <a href="#">Twitter</a>
                </span>
                <span class="d-sm-flex">
                    <a href="#">Facebook</a>
                </span>
            </div>
            <div class="col-sm-6 col-md-2 pl-3">
                <h3 class="footer__title">Legal</h3>
                <span class="d-sm-flex">
                    <a href="#">Terms</a>
                </span>
                <span class="d-sm-flex">
                    <a href="#">Privacy</a>
                </span>
            </div>
        </div>
        <p class="text-muted">© Copyright 2021, Unstoppable Car Rentals</p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
  <!-- <script src="/js/results.js"></script> -->
</body>
</html>